<template>
    <NavBar />
    <div class="px-6 py-8">
        <div class="container flex justify-center mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex items-center justify-between">
                    <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Post</h1>
                    <div>
                        <select
                            class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option>Latest</option>
                            <option>Last Week</option>
                        </select>
                    </div>
                </div>
                <div v-if="$page.props.auth.user && $page.props.auth.user.type == 'admin'" class="container mt-10 flex justify-center">
                    <div v-if="!addPost">

                        <button @click="addPost = !addPost"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">New
                            post</button>
                    </div>
                    <div v-else
                        class="w-full md:max-w-4xl mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
                        <form @submit.prevent="submit">
                            <div>
                                <Label for="title" value="Title" />
                                <Input id="title" type="text" class="mt-1 block w-1/3" v-model="form.title" required />
                            </div>

                            <div class="mt-4">
                                <Label for="description" value="Description" />
                                <textarea id="description" type="text" class="mt-1 block w-full"
                                    v-model="form.description" required />
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Button class="ml-4">
                                    Submit
                                </Button>
                            </div>
                        </form>
                        <!-- </div> -->

                    </div>
                </div>
                <BlogPost v-for="item in data" :key="item.id" :id="item.id" :title="item.title" :description="item.description"
                    :added="item.created_at" :comments="item.comments" :data="item" />
            </div>
        </div>
    </div>
</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";

const route = inject("route");

const props = defineProps({
    data: String,
})
console.log(props.data)

let addPost = ref(false)

const form = useForm({
    title: "",
    description: ""
})
function submit() {
    form.post(route('add.blog'), {
        onSuccess: () => {
            addPost.value = !addPost.value
            form.reset()
        }
    })
}
</script>
