<template>
    <div class="max-w-screen-lg w-full px-6 lg:mx-auto mt-12">
    <div class="flex flex-col w-full justify-center items-center">
        <h1 class="text-gray-500 text-2xl mb-6">Add a car</h1>
        <!-- <span v-if="form.wasSuccessful" class="text-green-500">Data saved</span> -->
      <form class="flex flex-col w-full  max-w-md gap-6" @submit.prevent="submit">
          <div class="flex flex-col">
              <label for="mark">Mark</label>
            <input class="rounded active:border-inherit" name="mark" v-model="form.mark" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="model">Model</label>
            <input class="rounded active:border-inherit" name="mark" v-model="form.model" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="description">Description</label>
            <textarea class="rounded" v-model="form.description" name="description"></textarea>
          </div>
          <div class="flex flex-col">
              <label for="body_type">Body type</label>
            <input class="rounded active:border-inherit" name="body_type" v-model="form.body_type" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="engine">Engine</label>
            <input class="rounded active:border-inherit" name="engine" v-model="form.engine" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="body_type">Color</label>
            <input class="rounded active:border-inherit" name="body_type" v-model="form.color" type="text" />
          </div>
          <div class="flex flex-col">
              <label for="body_type">Image</label>
            <input type="file" class="rounded active:border-inherit" name="body_type" @change="uploadImage"  />
          </div>
          <button class="rounded w-full bg-gray-800 text-white font-bold uppercase px-2 py-1" type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";

const route = inject("route")

const form = useForm({
    mark: "",
    model: "",
    description: "",
    image: "",
    body_type: "",
    color: "",
    engine:""
})

function submit(){
    console.log(form)
    form.post(route("add.car"))
}

function uploadImage(e){
    console.log(e.target.files[0])
    form.image = e.target.files[0]
    console.log(form)
}

</script>
