<template>
    <div>
        <input type="text" v-model="form.comment" class="" />
        <input @click="form.post('comment/' + post.id)" type="submit" value="Submit" />
    </div>

</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3"
import { inject } from "@vue/runtime-core"

const route = inject("route")

defineProps(["post"])

const form = useForm({
    comment: ""
})

</script>
